<div id="podcast" class="pure-g">

</div>


<script type="text/javascript">
	window.addEventListener("load", function(){
		window.OOGRE = window.OOGRE || {};
		window.OOGRE.data = {
			_csrf : "<%= _csrf %>"
		};

		window.OOGRE.templates = function(template, data){
			data = data || {};
			data._csrf = window.OOGRE.data._csrf;
			return JST["assets/templates"+template+".ejs"](data);
		}

		$.ajax({
			url : "/podcast/find",
			type : "get",
			data : {
				where : JSON.stringify({ id : "<%=  req.param('id') %>"})
			},
			dataType : "JSON"
		})
		.done(function(data){
			$("#podcast").append(window.OOGRE.templates("/podcast/form", data[0]));	
		})
		
	});
</script>
