<form id="addPodcast" method="POST" class="pure-form pure-form-aligned" action="/podcast/create" >
	<input type="hidden" name="_csrf" value="<%= _csrf %>" />

	<fieldset>
        <div class="pure-control-group">
            <input type="text" name="address" placeholder="Enter mp3 file url" required="required" class="pure-input-1-3"/>
        </div>
	</fieldset>
	<fieldset>
	    <div class="pure-control-group">
			<input type="submit" class="pure-button pure-button-primary pure-input-1-3" value="Submit" />
		</div>
	</fieldset>
</form>

<script type="text/javascript">
	$("input[name='address']")
	.on("keyup blur", function(){
		if( ! OOGRE.validator.isUrl($(this).val())) {
			$(this)[0].setCustomValidity("invalid url");
		}else{
			$(this)[0].setCustomValidity("");
		}
	});

	$("form#addPodcast")
	.on("submit", function(event){
		var address = event.target.address.value;
		var _csrf = event.target._csrf.value;

		if ( event.target.checkValidity && !event.target.checkValidity()) {
			return false;
		}

		$.ajax({
			url : event.target.action,
			type : event.target.method,
			data : {
				_csrf : _csrf,
				address : address
			},
			dataType : "JSON"
		})
		.done(function(data){
			console.log(data);
			$("form#addPodcast").replaceWith(window.OOGRE.templates("/podcast/form", {
				title : data.title,
				artist : data.artist,
				year : data.year,
				address : data.address,
				image : data.image,
				comment : data.comment,
				playlist : data.playlist,
				radioshow : data.radioshow,
				tag : data.tag
			}))
		})
		.fail(function(data){
			console.warn(data);
		});


		return false;
		
	});
</script>