<input id="url" type="text" />
<div id="parsed"></div>


<script type="text/javascript">


	window.addEventListener("load", function(){
		$("input#url").on("blur", function(){
			var self = this;
			
			$.ajax({
				url : "/show/parser",
				data : {
					uri : $(self).val(),
					parser : {}
				}
			})
			.done(function(data){
				$("#parsed").html(data.data);
			})
		})
	});
</script>